# General Settings
DOWNLOAD_DIR=/mnt/storagebox/providers/
CHECK_INTERVAL_HOURS=6
HEADLESS=true
DEBUG=false
WEB_PORT=3000
WEB_USERNAME="admin"
WEB_PASSWORD="admin123"
BASE_URL="https://fileserver.terhorst.io"

# BMW Provider
BMW_USERNAME="your-bmw-username@example.com"
BMW_PASSWORD="your-bmw-password"

BMW_AUTH_URL="https://auth.bmwgroup.com/auth/XUI/?realm=/internetb2x&goto=https://auth.bmwgroup.com:443/auth/oauth2/realms/root/realms/internetb2x/authorize?response_type%3Dcode%26approval_prompt%3Dauto%26redirect_uri%3Dhttps://aos.bmwgroup.com/api/v1/auth/webhook%26client_id%3D8c38b94d-85c1-4bca-9254-e793c77920b9%26scope%3Dopenid%2520profile%2520email%2520organization%2520b2xroles#login/"
BMW_ISTA_P_URL="https://aos.bmwgroup.com/applications/ista-p"
BMW_ISTA_NEXT_URL="https://aos.bmwgroup.com/applications/ista-next"

BMW_ISTA_P_FILTER="Installationsprogramm ISTA/P,Datenarchiv ISTA/P"
BMW_ISTA_NEXT_FILTER="Installationsdatei ISTA Client,ISTA Programmierdaten,ICOM Next Firmware,BMW PTD-Treiber"

# VW Provider
VW_USERNAME="your-vw-username"
VW_PASSWORD="your-vw-password"

VW_AUTH_URL="https://volkswagen.erwin-store.com/erwin/showHome.do"
VW_DOWNLOAD_URL="https://volkswagen.erwin-store.com/erwin/performDownloadODISAction.do"

VW_DOWNLOAD_FILTER="ODIS-Service_installation,ODIS-Service_update,FMC-Installer"
